<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode | default "en-us" }}">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>navya's recipe book</title>
        <link rel="icon" type="image/x-icon" href="{{ "favicon-2.png" | relURL }}">
        <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">

        {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
        {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
        {{ with .OutputFormats.Get "RSS" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
        {{- end }}
    </head>

    <body>
        
        {{ partial "header" . }}
        
        <h1>cooking</h1>
			<div class="cooking">
                
        {{ block "main" . }}{{ end }}
                
            </div>
        
        {{ partial "footer" . }}
        
    </body>
    
</html>
